.carousel {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: #f9f9f9; /* Background color to ensure images are seen */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  z-index: 1000;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}
